
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: #B17DFF;
	--secondary-color: #D9D9D9;
	--black-color: #000;    
	--white-color-gradient: #FFF;

    --primary-font: 'Bricolage Grotesque', serif; /* Font used in the title */
    --secondary-font: 'Source Sans 3', serif; /* Font used in the other texts*/
}

body { 
    width: 100%;
    min-height: 100vh; 
    margin: 0;
    background: linear-gradient(290deg, var(--primary-color) 3.65%, var(--black-color) 49.08%);
    display: flex;             
    flex-direction: column;     
}

/* --------------------------------------- .page-header --------------------------------------- */
.page-header {
    font-family: var(--primary-font);
    font-size: 65px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;     
    margin: 1.8rem 0;
    min-width: 80%;
}

.page-header-title-solid {
    color: var(--secondary-color);
}

.page-header-title-colourful {
    background: linear-gradient(90deg, #A76CFF 0%, var(--white-color-gradient) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .page-header {
        font-size: 55px;
    }
}

/* --------------------------------------- .page-subtitle --------------------------------------- */
.page-subtitle {
    display: flex;
    flex-direction: column;     
    align-items: center;
    margin-bottom: 1.8rem;
    line-height: 30px;
    width: 100%;
}

.page-subtitle p {
    font-family: var(--secondary-font);
    font-size: 22px;
    color: var(--secondary-color);    
    text-align: center;
    max-width: 80%;
}

/* --------------------------------------- .page__output --------------------------------------- */

/* Generated password */
.page-output {
    display: flex;
    justify-content: center;
    align-items: center;       
    max-width: 100%; 
}

.page-output-container {
    height: 58px;
    border-radius: 10px;
    background: rgba(177, 125, 255, 0.76);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;           
    flex-grow: 1;
    max-width: 50%;
    min-width: 300px; 
    padding: 0 10px; 
}

.page-output-container-password { /* Generated password field */
    align-self: center;
    border: none;
    background: none;
    color: var(--secondary-color); 
    font-size: 25px;
    max-width: 90%; 
    flex-grow: 1;
    padding: 0 10px;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.page-output-container-password:focus { /* Generated password field when clicked */
    outline: none;
}

.page-output .material-symbols-outlined { /* Icon reload */
    color: var(--secondary-color);
    font-size: 39px;
    cursor: pointer;
    flex-shrink: 0;
}

#reload-button {
    transition: all 0.15s ease-out;
    user-select: none;
}

#reload-button:hover {
    color: var(--secondary-color);
}

#reload-button:active {
    transform: translateY(1px); 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .page-output-container {
        max-width: 80%;
        min-width: 200px;
    }
    .page-output .material-symbols-outlined {
        font-size: 30px; 
    }
}

/* --------------------------------------- .copy-button e .generate-button --------------------------------------- */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    user-select: none;
    width: 100%;
}

.copy-button, .generate-button {
    text-align: center;
    /* margin: 1rem 0; */
    width: 120px;
    height: 46px;    
}

.copy-button button, .generate-button button {
    border-radius: 10px;
    border-color: var(--secondary-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--secondary-color);
    padding: 8px 20px;
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 20px;
    width: 120px;
}

.copy-button button:hover, .generate-button button:hover {
    background: var(--secondary-color);
    color: var(--black-color);
}

/* --------------------------------------- .minus-button e .plus-button --------------------------------------- */

#minus-button, #plus-button {
    transition: all 0.15s ease-out;
    user-select: none;
}

#minus-button:hover, #plus-button:hover {
    color: var(--secondary-color);
}

#minus-button:active, #plus-button:active {
    transform: translateY(1px); 
}

/* --------------------------------------- .size__password --------------------------------------- */

.size-password { /* Password size description */
    font-family: var(--secondary-font);
    font-size: 20px;
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 1.2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.size-password-length-value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.size-password-value {
    position: relative;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    color: var(--black-color);
    padding: 10px;
    border-radius: 10px;
    width: 20px;
}

.size-password-slider-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.size-password-slider i {
    color: var(--secondary-color);
    font-size: 29px;
    cursor: pointer;
    margin: 10px;
}

.size-password-slider-field input {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border: none;
    border-radius: 90px;
    background: var(--secondary-color);
    outline: none;
    border: none;
    z-index: 3;
}

.size-password-slider-field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.size-password-slider-field input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--secondary-color);
}

.size-password-slider-field input::-moz-range-progress {
    background: var(--primary-color);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .size-password {        
        flex-direction: column;   
    }
}

/* --------------------------------------- .caracters-selection --------------------------------------- */

.caracters-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 4rem 2rem 2rem;
}

.caracters-selection p {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

/* Hide the browser's default checkbox */
.caracters-selection input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.caracters-selection label {
    border: none;
    border-radius: 10px;
    background: var(--secondary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 33px;
    height: 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* Style customizable checkmark */
.caracters-selection .checkmark {
    width: 33px;
    height: 32px;
    border-radius: 6px;
    background: var(--secondary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style each option */
.caracters-selection-option {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto; 
}

.caracters-selection-option p {
    padding-left: 5px;
}

.checkmark {
    color: var(--secondary-color);
}

/* Style when checkbox is checked */
.checkbox:checked + .checkmark {
    color: var(--black-color); /* Color of the checked checkmark */
    transition: 0.3s ease-in-out;
}

.popup_message-title {
    font-family: var(--primary-font);
}

.popup_message-text {
    font-family: var(--secondary-font);
}

/* --------------------------------------- .footer-copyright --------------------------------------- */

.footer-copyright {
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    background: rgba(199, 165, 250, 0.28);
    padding: 10px;
}

.footer-copyright p {
    font-size: 13px;
    margin: 0; 
    line-height: 20px;
}