
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
	--cor-fundo-pagina: #F4F4F4;

    --font-primaria: 'Bricolage Grotesque', serif; /* Font used in the title */
    --font-secundaria: 'Source Sans 3', serif; /* Font used in the other texts*/
}

body { 
    width: 100%;
    min-height: 100vh; 
    margin: 0;
    background: linear-gradient(290deg, #B17DFF 3.65%, #000 49.08%);
    display: flex;             
    flex-direction: column;     
}

main {
    flex: 1;
}

/* --------------------------------------- .page-header --------------------------------------- */
.page-header {
    font-family: var(--font-primaria);
    font-size: 65px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1.8rem 5rem;
}

.page-header-title-solid {
    color: #D9D9D9;
}

.page-header-title-colourful {
    background: linear-gradient(90deg, #A76CFF 0%, #FFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

/* --------------------------------------- .page-subtitle --------------------------------------- */
.page-subtitle {
    font-family: var(--font-secundaria);
    font-size: 22px;
    color: #D9D9D9;
    text-align: center;
    padding: 0rem 5rem 1.8rem 5rem;
    line-height: 30px;
}

/* --------------------------------------- .page__output --------------------------------------- */

.page-output {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-output-container {
    width: 584px;
    height: 58px;
    border-radius: 10px;
    background: rgba(177, 125, 255, 0.76);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.page-output-container-password { /* Generated password field */
    align-self: center;
    border: none;
    background: none;
    color: #D9D9D9; 
    font-size: 25px;
    flex-grow: 1;
    padding: 0 10px;
}

.page-output-container-password:focus { /* Generated password field when clicked */
    outline: none;
}

.page-output .material-symbols-outlined { /* Icon reload */
    color: #D9D9D9;
    font-size: 39px;
    cursor: pointer;
    margin-right: 5px;
}

#reload-button {
    transition: all 0.15s ease-out;
    user-select: none;
}

#reload-button:hover {
    color: #D9D9D9;
}

#reload-button:active {
    transform: translateY(1px); 
}

/* --------------------------------------- .copy-button e .generate-button --------------------------------------- */
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1rem;
    user-select: none;
}

.copy-button, .generate-button {
    text-align: center;
    margin-left: 0.1%;
    width: 91px;
    height: 46px;
    padding: 1rem 1.5rem;
}

.copy-button button, .generate-button button {
    border-radius: 10px;
    border-color: #D9D9D9;
    background-color: rgba(0, 0, 0, 0);
    /* background: #D9D9D9; */
    color: #D9D9D9;
    padding: 8px 20px;
    cursor: pointer;
    font-family: var(--font-secundaria);
    font-size: 20px;
    width: 120px;
}

.copy-button button:hover, .generate-button button:hover {
    background: #D9D9D9;
    color: #000;
}

/* --------------------------------------- .minus-button e .plus-button --------------------------------------- */

#minus-button, #plus-button {
    transition: all 0.15s ease-out;
    user-select: none;
}

#minus-button:hover, #plus-button:hover {
    color: #D9D9D9;
}

#minus-button:active, #plus-button:active {
    transform: translateY(1px); 
}

/* --------------------------------------- .size__password --------------------------------------- */

.size__password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.size-password-description { /* Password size description */
    font-family: var(--font-secundaria);
    font-size: 20px;
    color: #D9D9D9;
    text-align: center;
    padding: 1.2rem 0 1.2rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.size-password-description-value {
    position: relative;
    display: flex;
    justify-content: center;
    background: #B17DFF;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    width: 20px;
}

.size-password-slider {
    position: relative;
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;

   /*  height: 80px;
    width: 100px; */
    
    padding: 0 4rem 1rem 4rem;
    font-family: var(--font-secundaria);
    font-size: 20px;
    color: #D9D9D9;
}

.size-password-slider-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%;
    width: 100%; */

    text-align: center;
}

.size-password-slider i {
    color: #D9D9D9;
    font-size: 29px;
    cursor: pointer;
    margin: 10px;
}

.size-password-slider-field input {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    border: none;
    border-radius: 90px;
    background: #D9D9D9;
    outline: none;
    border: none;
    z-index: 3;
}

.size-password-slider-field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #B17DFF;
    cursor: pointer;
    border: 1px solid #D9D9D9;
}

.size-password-slider-field input::-moz-range-thumb {
    /* -webkit-appearance: none; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #B17DFF;
    cursor: pointer;
    border: 1px solid #D9D9D9;
}

.size-password-slider-field input::-moz-range-progress {
    background: #B17DFF;
}

/* --------------------------------------- .caracters-selection --------------------------------------- */

.caracters-selection {
    padding: 1rem 4rem 2rem 2rem;
}

.caracters-selection--description { /* Select character options */
    font-family: var(--font-secundaria);
    font-size: 20px;
    color: #D9D9D9;
    text-align: center;
    padding: 0rem 5rem 2rem 5rem;
}

.caracters-selection-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Hide the browser's default checkbox */
.caracters-selection-options input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.caracters-selection-options label {
    border: none;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 33px;
    height: 32px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

/* Style customizable checkmark */
.caracters-selection-options .checkmark {
    width: 33px;
    height: 32px;
    border-radius: 6px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark {
    color: #D9D9D9;
}

/* Style when checkbox is checked */
.checkbox:checked + .checkmark {
    color: #000; /* Color of the checked checkmark */
    transition: 0.3s ease-in-out;
}

.caracters-selection-options p {
    color: #D9D9D9;
    font-family: var(--font-secundaria);
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.popup_message-title {
    font-family: var(--font-primaria);
}

.popup_message-text {
    font-family: var(--font-secundaria);
}

/* --------------------------------------- .footer-copyright --------------------------------------- */

.footer-copyright {
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: var(--font-secundaria);
    color: #D9D9D9;
    background: rgba(199, 165, 250, 0.28);
    padding: 10px;
}

.footer-copyright p {
    font-size: 13px;
    margin: 0; 
    line-height: 20px;
}

